*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: white;
}
/* ------------ HOME ----------------------- */
#home{
  background: url("assets/images/background-home.png");
  background-repeat: no-repeat;
  height: 100%;
}
#home .barbara-home{
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1;
}
#texts {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#texts .prgf{
  color: yellow;
  font-weight: 700; 
}
#texts h2{
  margin-top: 1rem;
  line-height: 1.5rem;
}
#texts .prgf2{
  margin: 1.5rem .5rem 0 .5rem; 
  line-height: 1.5rem;
}
#texts .prgf2 span{
  font-weight: 700;
}
#texts .prgf3{
  margin: 1.5rem .5rem 0 .5rem; 
  line-height: 1.5rem;
}
#forms{
  padding: 2rem;
}
#forms input{
  width: 100%;
  padding: .5rem;
  border-radius: .2rem;
  border: none;
  margin-top: .5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: #edc24c81;
  color: rgb(255, 255, 255);
}
#forms input::placeholder{
  color: white;
}
#forms #btn{
  width: 100%;
  margin-top: .5rem;
  padding: .8rem;
  background: #F3832C;
  border: none;
  border-radius: .2rem;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
/* -------------- ABOUT ---------------------*/

#about{
  background-image: url(assets/images/background-about.png);
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}
#title-about{
  color: rgb(255, 255, 255);
  font-size: 700;
  font-size: 1.5rem;
  z-index: 10;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
}
.box-about{
  background: #f9f8f815;
  margin: 1rem 1.5rem 1rem 1.5rem;
  padding: 1rem;
  border-radius: 10px;
}
.box-about img{
  width: 20%;
  margin-left: -.5rem;
  float: left;
}
.box-title{
  color: #FFD556;
  font-weight: 700;
  font-size: 1rem;
}
.box-text{
  margin-top: .5rem;

  text-align: justify;
  font-size: .8rem;
}