*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home{
  background: url("assets/images/background-home.png");
  background-repeat: no-repeat;
  overflow: hidden;
  height: 55rem;
  position: relative;
}
#home .money{
  width: 22rem;
  position: absolute;
  right: 30%;
}
#home .barbara-home{
  width: 25rem;
  position: absolute;
  right: 0;
  left: 0;
  top: -3%;
  z-index: 1;
}
#home .instagram{
  width: 23rem;
  position: absolute;
  left: 38%;
  top: -8rem;
}
#home .title{
  position: absolute;
  width: 30rem;
  right: -15%;
  top: -6%;
  z-index: 10;
}
#texts p{
  color: yellow;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: relative;
  top: 21rem;
  text-align: center;
}